:root  {
    --arian: green;
}

.box1 {
    height: 200px;
    width: 200px;
    background-image: linear-gradient(60deg , var(--arian), yellow) ;
}

.hero {
    width: 500px;
    height: 500px;
    background: linear-gradient(
    90deg
    rgba(2, 3, 61, 0.8) 0%
    rgba(0, 168, 255, 0.8) 100%
    );
}
 